{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Velespi{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/leaflet.awesome-markers.css" %}">
	<link rel="stylesheet" href="https://unpkg.com/leaflet@0.7.7/dist/leaflet.css" />
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://unpkg.com/leaflet@0.7.7/dist/leaflet.js"></script>
	<script src="{% static "js/leaflet.awesome-markers.min.js" %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style media="screen">
		#map { height: 500px; }
	</style>
</head>
<body>
<div class="container">
	<header class="header">
		<div id="logo">
			<a href="/"><img src="{% static "images/logo.svg" %}" alt="" />velespi</a>
		</div>
		<div id="nav">
			<a href="/">{% trans "Homepage" %}</a>
			{% if user.is_authenticated %}
			<a href="{% url "new_place" %}">{% trans "Add new place" %}</a>
			<a href="{% url "logout" %}">{% trans "Logout" %} ({{ user }})</a>
			{% else %}
			<a href="{% url "register" %}">{% trans "Sign Up" %}</a>
			<a href="{% url "login" %}">{% trans "Login" %}</a>
			{% endif %}
		</div>
	</header>
	<div class="content">
		{% block content %}
			 PLACEHOLDER
		{% endblock %}
	</div>
	<footer class="footer">
		{% trans "Linux Summer Camp 2016 - Django class example project." %}
	</footer>
</div>
{% block js %}
{% endblock %}
</body>
</html>
