{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class = "container">
  <div class = "row">
    <div class="col-md-4">
      <div class="place-info">
        <h2>{{ place.name }}</h2>
        <h4>{{ place.category }}</h4>
        <h4>{% trans "Average User Votes" %}: {{ average }}</h4>
        {% if count > 0 %}
          <h6>{% blocktrans %} Based on {{ count }} user reviews {% endblocktrans %}
        {% endif %}
        <p>
          {% if place.likes.count > 0 %}
            <span id='like-count'>{{ place.likes.count }} {% trans "user liked this place" %}.</span>
          {% else %}
             <span id='like-count'>{% trans "No user liked this place yet" %}.</span>
          {% endif %}
          {% if user.username %}
            {% if user in place.likes.all %}
              <a id="like" href="{% url "like_place" place.id %}">{% trans "Unlike" %}</a>
            {% else %}
              <a id="like" href="{% url "like_place" place.id %}">{% trans "Like" %}</a>
          {% endif %}
        {% endif %}
        </p>
        <p>
            {{ place.description|linebreaksbr }}
        </p>
      </div>
      <div class="place-images" style="padding-top : 50px">
        {% for media in place.place_pictures.all %}
            <img src="{{ media }}" style="width:50px; height:50px"></img>
        {% empty %}
          <p>
            Bu yerin hiç fotografı yok.
            <a href="{% url "new_media" place.id %}">Bir tane ekleyin.</a>
          </p>
        {% endfor %}
        {% if place.place_pictures.count < 12  and place.place_pictures.count > 0 %}
          <br />
          <a href="{% url "new_media" place.id %}">Yeni bir fotograf ekleyin.</a>
        {% endif %}
      </div>
    </div>
      <div class="place-map col-md-8">
        <div id="map"></div>
      </div>
    </div>
  <div class="row">
    <div class="reviews" style="padding-top : 100px">
      <h3>Yorumlar</h3>
          {% for review in place.review_set.all %}
            {%if review.is_active %}
              <div class="comments" style="margin-bottom : 30px; border : solid 1px;">
                <blockquote>
                  <p>{{ review.comment }}</p>
                  <small>
                    {{ review.user.username }}
                  </small>
                  {% if review.user.username == user.username %}
                    <a href="{% url "update_review" place.id review.id %}">Yorumunuzu düzenleyin.</a>
                  {% endif %}
                </blockquote>
              </div>
            {% endif %}
            {% if not review.is_active and review.user.username == user.username %}
              <div class="comments" style="margin-bottom : 30px; border : solid 1px;">
                <blockquote>
                  <span style="color:Red"> Onay Bekleniyor </span>
                  <p>{{ review.comment }}</p>
                  <small>
                    {{ review.user.username }}
                  </small>
                  <a href="{% url "update_review" place.id review.id %}">Yorumunuzu düzenleyin.</a>
                </blockquote>
              </div>
            {% endif %}
          {% endfor %}
          {% if user.username %}
            {% if user.username not in place.commenters %}
              {% if place.active_reviews.count > 0 %}
                <p>
                  <a href="{% url "new_review" place.id %}">Bir yorum ekleyin.</a>
                </p>
              {% else %}
                <p>
                  Bu yere henüz yorum yapılmamış.
                  <a href="{% url "new_review" place.id %}">Bir tane ekleyin.</a>
                </p>
            {% endif %}
          {% endif %}
        {% else %}
          Bu yere henüz yorum yapılmamış. Yorum yapabilmek için lütfen
          <a href="{% url "new_review" place.id %}"> giriş yapınız.</a>
        {% endif %}
    </div>
  </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
var map = L.map('map').setView([{{ place.coordinates }}], 13);

L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);


var marker = L.marker([{{ place.coordinates }}], {icon : L.AwesomeMarkers.icon({
  icon: '{{ place.category.icon }}',
  markerColor: '{{ place.category.color }}',
  prefix: 'fa'
})}).addTo(map)
.bindPopup('<div class="popup_container" style="text-align:center">' +
              '<div class="popup_description" style="display: block">' +
                '<h2 style="margin-bottom:0px">' +
                  '<a href="{{ place.get_absolute_url }}">{{ place.name }}</a>' +
                '</h2>' +
                '<span style="color:blue">{{ place.category }}</span>' +
              '</div>' +
              '<div class="popup_image" style="padding-top:15px">' +
                '{% if place.place_pictures.count > 0 %}' +
                  '<img src="{{ place.place_pictures.0 }}" style="width:75px;height:75px"></img>' +
                '{%else%}' +
                  '<img src="/media/uploads/no_image.jpg" style="width:75px;height:75px">' +
                '{% endif %}' +
              '</div>' +
            '</div>'
          )
.openPopup();

/*$('#like').on('click', function(event){
  $.getJSON(
    $('#like').attr('href'),
    function (response) {
      $('#like-count').html(response.count);

      if (response.action === 'like') {
        $('#like').html('Begenmekten vazgeç.')
      } else{
        $('#like').html('Begen.')
      }
    }
  );

  event.preventDefault() //<-- browser'ın yapacagı default işi kesiyor. (burada a href'e gitmesin diye uyguladık.)

}); <-- getJSON methodu ile yapmak ama database'e gidecegimiz için POST olması lazım */

$('#like').on('click', function (event) {
    $.ajax({
        url: $("#like").attr('href'),
        method: 'POST',
        dataType: 'json',
        data: {
          csrfmiddlewaretoken: "{{ csrf_token }}"
        }
    }).done(function (response) {
      if ($('#like-count').html() == '{% trans "No user liked this place yet" %}.' || response.count > 0){
        $('#like-count').html(response.count + ' {% trans "user liked this place" %}.');
      } else {
        $('#like-count').html('{% trans "No user liked this place yet" %}.');
      }
        if (response.action === 'like') {
            $('#like').html('{% trans "Unlike" %}');
        } else {
            $('#like').html('{% trans "Like" %}');
        }
    });
    event.preventDefault();
});
</script>
{% endblock %}
